.snippet-container {
    margin: 1.25em 1em;
}

.snippet-container article {
    margin: 0;
    padding: 0;
    box-shadow: unset;
}

.gitlab-embed-snippets {
    margin: 0.5em;
}

.gitlab-embed-snippets .file-content.code .blob-content pre {
    padding: 10px;
    font-family: "Fira Mono", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
}

.gitlab-embed-snippets .file-content.code .blob-content pre, .js-file-title.file-title-flex-parent, .gitlab-embed-snippets .file-content.code, .gitlab-embed-snippets .btn-group a.btn:first-child, .gitlab-embed-snippets .btn-group a.btn:last-child {
    border-radius: 0;
}